{% extends 'base.html' %}
{% block content %}
<div style="height:70px;"></div>
<div class="container-fluid" style="font-size:1.3rem">
    <span>*성경 순서는 대략적인 연대기 순입니다.</span>
    <dl>
        <li>모세오경은 도형이 같은 유형입니다.</li>
        <li>출애굽기와 레위기는 언약 맺음과 언약 문서이므로 도형과 색이 같습니다.</li>
        <li>출애굽기, 레위기, 신명기는 시내산 언약과 언약 갱신으로 책명의 색이 빨간색입니다.</li>
        <li>사사기와 룻기는 같은 시대이므로 도형과 색이 같습니다.</li>
        <li>사무엘은 사사시대에서 왕정으로 넘어감으로 색이 바뀝니다.</li>
        <li>사무엘은 다윗 언약을 포함하므로 책명의 색이 빨간색입니다.</li>
        <li>열왕기와 역대기는 기록연대는 다르나 같은 시대를 다루므로 도형은 같고 색이 다릅니다.</li>
        <li>요나, 아모스, 호세아는 북 선지자이므로 도형이 같은 유형입니다.</li>
        <li>요엘, 미가, 이사야, 나훔, 스바냐, 하박국, 오바댜는 포로 전 남 선지자이므로 도형이 같은 유형입니다.</li>
        <li>미가와 이사야는 내용이 비슷하므로 색이 비슷합니다.</li>
        <li>예레미야, 예레미야 애가, 에스겔 다니엘은 포로시대를 다루므로 갇힌 도형입니다.</li>
        <li>예레미야와 예레미야 애가는 같은 저자이므로 색이 같습니다.</li>
        <li>다니엘은 역사와 계시로 구분되므로 단락 색이 구별됩니다.</li>
        <li>학개, 스가랴, 에스더, 에스라, 느헤미야, 말라기는 포로 귀환 후 이므로 도형이 같은 유형입니다.</li>
        <li>에스라와 느헤미야는 한 책으로 볼 수 있기 때문에 도형과 색이 같습니다.</li>
        <li>시편, 잠언, 욥기, 전도서, 아가는 시가서로 도형이 같은 유형입니다.</li>
        <li>시편은 하나님 나라 백성의 삶이 담겨있고 5권의 책이 구별됨으로 단락 색이 다릅니다.</li>
        <li>아가서는 사랑의 고백 - 사랑의 초대 - 사랑의 갈구 - 사랑의 하나됨 - 사랑의 갈구 - 사랑의 초대 - 사랑의 고백 순입니다.</li>
        <li>중간기 설명은 도형이 같은 유형입니다.</li>
        <li>데살로니가 전서와 후서는 도형이 같고 색이 같은 계통입니다.</li>
        <li>고린도전서 후서, 갈라디아서, 로마서는 갈등을 표현하는 도형입니다.</li>
        <li>고린도전소와 후서는 같은 교회에 보내진 편지로 색이 같은 계통입니다.</li>
        <li>에베소서, 골로새서, 빌레몬서, 빌립보서는 옥중서신이므로 도형이 같은 유형입니다.</li>
        <li>에베소서와 골로새서는 내용이 비슷하기 때문에 색이 같습니다.</li>
        <li>빌레몬서와 빌립보서는 같은 교회에 보냈기 대문에 색이 같습니다.</li>
        <li>누가복음과 사도행전은 한 세트이기 때문에 색이 같습니다.</li>
        <li>디모데전서, 디모데후서, 디도서는 목회서신이므로 도형이 같은 유형입니다.</li>
        <li>디메도전서와 디도서는 내용이 비슷하므로 도형이 같고 색이 다릅니다.</li>
        <li>베드로전서, 마가복음 히브리서는 박해받는 상황을 표현하는 도형입니다.</li>
        <li>야고보서는 가난한 백성과 부자와 열심당의 반목과 갈등을 표현하는 도형입니다.</li>
        <li>베드로후서, 유다서, 요한복음, 요한1서, 2서, 3서는 영지주의 영향을 표현하는 도형입니다.</li>
        <li>베드로후서와 유다서는 비슷하기 때문에 도형이 같고 색이 다릅니다.</li>
        <li>마태복음은 왕의 오심 - 선포 - 권위 - 제자도 - 거절과 영접 - 왕의 나라 - 거절과 영접 - 제자도 - 권위-선포 - 가심 순입니다.</li>
    </dl>
</div>
{% endblock %}